/dts-v1/;

#include "skeleton.dtsi"

/ {
	model = "QEMU SiFive";
	compatible = "sifive,qemu";

	/* Digilent Arty has 256MB DDR3L */
	memory {
		device_type = "memory";
		reg = <0 0x0 0x10000000>;
	};

	uart: uart {
		compatible = "sifive,uart";
		reg = <0 0x40002000 0x10>;
	};
};
