CONFIG_ARCH_DIGIC=y
CONFIG_MACH_CANON_A1100=y
CONFIG_ARM_OPTIMZED_STRING_FUNCTIONS=y
CONFIG_PBL_IMAGE=y
CONFIG_PBL_RELOCATABLE=y
CONFIG_IMAGE_COMPRESSION_LZ4=y
CONFIG_TEXT_BASE=0x00300000
CONFIG_MALLOC_SIZE=0x200000
CONFIG_PANIC_HANG=y
CONFIG_PROMPT="canon> "
CONFIG_LONGHELP=y
CONFIG_GLOB=y
CONFIG_HUSH_FANCY_PROMPT=y
CONFIG_HUSH_GETOPT=y
CONFIG_CMDLINE_EDITING=y
CONFIG_AUTO_COMPLETE=y
CONFIG_DEFAULT_ENVIRONMENT_PATH="arch/arm/boards/canon-a1100/env"
CONFIG_DEBUG_LL=y
CONFIG_CMD_SLEEP=y
CONFIG_CMD_GLOBAL=y
# CONFIG_CMD_RM is not set
# CONFIG_CMD_MKDIR is not set
# CONFIG_CMD_RMDIR is not set
# CONFIG_CMD_PWD is not set
# CONFIG_CMD_MOUNT is not set
# CONFIG_CMD_UMOUNT is not set
# CONFIG_CMD_CLEAR is not set
CONFIG_CMD_ECHO_E=y
CONFIG_CMD_IOMEM=y
# CONFIG_CMD_MEMCMP is not set
# CONFIG_CMD_MEMCPY is not set
# CONFIG_CMD_MEMSET is not set
# CONFIG_CMD_BOOTM is not set
# CONFIG_CMD_BOOTU is not set
# CONFIG_CMD_TEST is not set
# CONFIG_CMD_VERSION is not set
# CONFIG_CMD_HELP is not set
# CONFIG_CMD_DEVINFO is not set
# CONFIG_SPI is not set
CONFIG_ZLIB=y
