CONFIG_MACH_MIPS_AR9331=y
CONFIG_TEXT_BASE=0xa0800000
CONFIG_STACK_SIZE=0x20000
CONFIG_CMDLINE_EDITING=y
CONFIG_AUTO_COMPLETE=y
CONFIG_CMD_EDIT=y
CONFIG_CMD_SLEEP=y
CONFIG_CMD_LET=y
CONFIG_CMD_LOADB=y
CONFIG_CMD_LOADY=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_IOMEM=y
CONFIG_CMD_MM=y
CONFIG_CMD_SHA1SUM=y
CONFIG_CMD_RESET=y
CONFIG_CMD_GO=y
CONFIG_CMD_SPI=y
CONFIG_DRIVER_SERIAL_AR933X=y
CONFIG_DRIVER_SPI_ATH933X=y
CONFIG_MTD=y
CONFIG_MTD_M25P80=y
CONFIG_MD5=y
CONFIG_SHA224=y
CONFIG_SHA256=y
