if MACH_MIPS_RALINK

config ARCH_TEXT_BASE
	hex
	default 0xa0800000

config BOARD_WRTNODE2R
	bool "WRTnode2R"
	select HAVE_PBL_IMAGE
	select HAVE_IMAGE_COMPRESSION
	select HAS_NMON

config BOARD_LINKIT
	bool "Linkit Smart 7688"
	select HAVE_PBL_IMAGE
	select HAVE_IMAGE_COMPRESSION
	select HAS_NMON

endif
