# CONFIG_BANNER is not set
# CONFIG_MEMINFO is not set
CONFIG_TEXT_BASE=0x40000000
CONFIG_BAREBOX_MAX_IMAGE_SIZE=0x2000
CONFIG_MEMORY_LAYOUT_FIXED=y
CONFIG_STACK_BASE=0x40003800
CONFIG_STACK_SIZE=0x0800
CONFIG_MALLOC_BASE=0x40002000
CONFIG_MALLOC_SIZE=0x1800
CONFIG_MALLOC_DUMMY=y
CONFIG_SHELL_NONE=y
# CONFIG_ERRNO_MESSAGES is not set
# CONFIG_TIMESTAMP is not set
CONFIG_CONSOLE_SIMPLE=y
CONFIG_DEBUG_LL=y
# CONFIG_SPI is not set
CONFIG_CLOCKSOURCE_DUMMY_RATE=60000
# CONFIG_FS_RAMFS is not set
# CONFIG_FS_DEVFS is not set
