if NET_PICOTCP

config NET_PICO_SUPPORT_IPV4
	bool
	prompt "ipv4 support"

if NET_PICO_SUPPORT_IPV4

config NET_PICO_SUPPORT_IPFRAG
	bool
	prompt "ip fragmentation support"

config NET_PICO_SUPPORT_ICMP4
	bool
	prompt "icmp support"

config NET_PICO_SUPPORT_UDP
	bool
	prompt "udp support"

config NET_PICO_SUPPORT_TCP
	bool
	prompt "tcp support"
endif # NET_PICO_SUPPORT_IPV4

comment "Network device support"

config NET_PICO_SUPPORT_ETH
	bool
	prompt "ethernet device support"

config NET_PICO_SUPPORT_DEVLOOP
	bool
	prompt "loopback device support"

comment "Misc options"

config NET_PICO_BIGENDIAN
	bool
	prompt "bigendian picotcp"

endif # NET_PICOTCP
