if NET_PICOTCP

config NET_PICO_SUPPORT_IPV4
	bool
	default y if NET_PICOTCP

config NET_PICO_SUPPORT_IPFRAG
	bool
	default y if NET_PICO_SUPPORT_IPV4

config NET_PICO_SUPPORT_ICMP4
	bool
	default y if NET_PICO_SUPPORT_IPV4

config NET_PICO_SUPPORT_UDP
	bool
	default y if NET_PICO_SUPPORT_IPV4


config NET_PICO_SUPPORT_ETH
	bool
	default y if NET_PICOTCP

config NET_PICO_SUPPORT_DEVLOOP
	bool
	default y if NET_PICOTCP

comment "Misc options"

config NET_PICO_BIGENDIAN
	bool
	prompt "bigendian picotcp"

comment "Commands"

config CMD_PICOTCP_TEST_IPV4
	bool
	depends on NET_PICO_SUPPORT_IPV4
	prompt "test_picotcp command"

endif # NET_PICOTCP
