if MACH_MIPS_XBURST

config ARCH_TEXT_BASE
	hex
	default 0xa0800000

config CPU_JZ4740
	bool

config CPU_JZ4755
	bool

config CPU_JZ4770
	bool

choice
	prompt "Board type"

config BOARD_A320
	bool "Dingoo A320"
	select CPU_JZ4740

config BOARD_RZX50
	bool "Ritmix RZX-50"
	select CPU_JZ4755

config BOARD_AINOL_NOVO7_PALADIN
	bool "Ainol Novo7 Paladin"
	select CPU_JZ4770

endchoice

source arch/mips/boards/a320/Kconfig
source arch/mips/boards/rzx50/Kconfig
source arch/mips/boards/ainol-novo7-paladin/Kconfig

endif
