if MACH_MIPS_XBURST

config ARCH_TEXT_BASE
	hex
	default 0xa0800000

config CPU_JZ4755
	bool

config CPU_JZ4770
	bool

choice
	prompt "Board type"

config BOARD_RZX50
	bool "Ritmix RZX-50"
	select HAS_POWEROFF
	select CPU_JZ4755
	select HAVE_PBL_IMAGE
	select HAVE_IMAGE_COMPRESSION

config BOARD_AINOL_NOVO7_PALADIN
	bool "Ainol Novo7 Paladin"
	select CPU_JZ4770

endchoice

source arch/mips/boards/rzx50/Kconfig
source arch/mips/boards/ainol-novo7-paladin/Kconfig

endif
